#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "faircamp"
name = "Faircamp"
description.en = "A static site generator for audio artists and producers"
description.fr = "Un générateur de site statique pour les artistes ou producteurices audio"

version = "1.7.0~ynh1"

maintainers = [ "OniriCorpe" ]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://simonrepp.com/faircamp/"
admindoc = "https://simonrepp.com/faircamp/manual/"
code = "https://codeberg.org/simonrepp/faircamp"
fund = "https://ko-fi.com/simonrepp"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = [ "amd64" ]
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "30M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.auto_rebuild]
    ask.en = "Auto-rebuild?"
    help.en = "Do you want Faircamp to automatically rebuild your website when files have been modified?"
    type = "boolean"
    default = true

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://simonrepp.com/faircamp/packages/faircamp_1.7.0-1+deb11_amd64.deb"
    sha256 = "3017ea802b29705f2750bc0672cfc6ea06931026989a0057b9d7a8aa35759b2a"
    format="whatever"
    extract = false
    rename = "faircamp.deb"

    [resources.sources.bookworm]
    url = "https://simonrepp.com/faircamp/packages/faircamp_1.7.0-1+deb12_amd64.deb"
    sha256 = "c07a8684028940ab0e29cc8c5cff2b86d7b37ea5214b7d6098f80a444190fc1b"
    format="whatever"
    extract = false
    rename = "faircamp.deb"

    [resources.sources.website]
    url = "https://github.com/YunoHost-Apps/faircamp_ynh/releases/download/default_website_1.0/default_website.zip"
    sha256 = "2596d8a56d14f7c4b8aeb942edf182de76f1f7bde01f72d4f4b3387b02d9543a"
    in_subdir = false

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = ["ffmpeg", "libvips42" ]
