#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "faircamp"
name = "Faircamp"
description.en = "A static site generator for audio artists and producers"
description.fr = "Un générateur de site statique pour les artistes ou producteurices audio"

version = "1.1.1~ynh1"

maintainers = [ "OniriCorpe" ]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://simonrepp.com/faircamp/"
admindoc = "https://simonrepp.com/faircamp/manual/"
code = "https://codeberg.org/simonrepp/faircamp"
fund = "https://ko-fi.com/simonrepp"

[integration]
yunohost = ">= 11.2"
architectures = [ "amd64" ]
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "30M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.auto_rebuild]
    ask.en = "Auto-rebuild?"
    help.en = "Do you want Faircamp to automatically rebuild your website when files have been modified?"
    type = "boolean"
    default = true

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://simonrepp.com/faircamp/packages/faircamp_1.1.1-1+deb11_amd64.deb"
    sha256 = "54f6fa49a8cdd7d9979ccf8e9b898593403b45da9caf8371a471dd7aa718e4c2"
    format="whatever"
    extract = false
    rename = "faircamp.deb"

    [resources.sources.bookworm]
    url = "https://simonrepp.com/faircamp/packages/faircamp_1.1.1-1+deb12_amd64.deb"
    sha256 = "f7356c6bbd3757e572cb87e0e0985e1dd7930bd020151f6902d5d179a14e6c0d"
    format="whatever"
    extract = false
    rename = "faircamp.deb"

    [resources.sources.website]
    url = "https://github.com/YunoHost-Apps/faircamp_ynh/releases/download/default_website_1.0/default_website.zip"
    sha256 = "2596d8a56d14f7c4b8aeb942edf182de76f1f7bde01f72d4f4b3387b02d9543a"
    in_subdir = false

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = ["ffmpeg", "libvips42" ]
